
/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Neometric';
    src: url(../fontes/Neometric\ Alt\ Medium\ \(Regular\).otf);
}


:root{
    --overlay-color:#03a9f4;
    --overlay-black:#111;
    --esquadria-green:rgb(4, 58, 58);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* PRELOADER */

.preloader{
    background: #fff url(../images/esquadria-preloader-2.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    height: 100vh;
    width:100%;
    position:fixed;
    z-index: 1000;
  }

  /* MEDIA QUERIES PRELOADER */

@media only screen and (max-width:768px){

    .preloader{
      background-size: 100%;
   
    }
}  

/* HEADER */


#showcase{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #FFF;
    z-index: 2;
    transition: 0.8s;
    overflow: hidden;
}

#showcase .header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 10;
}

#showcase .header .logo,
.menu .logo{
    width: 135px;
}


#showcase .toggler .fa, .menu .fa-times-2{
    font-size: 30px;
    cursor: pointer; 
}

.menu .fa-times-2{
    display: none;
}

 video{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    object-position:0px 20%;
    
 
    
 }

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background: var(--overlay-color); */
    background:var(--overlay-black);
    /* mix-blend-mode: overlay; */
    opacity: 0.5;

}

#showcase .text{
    z-index: 10;
}

#showcase .text h2{
    font-size: 5em;
    font-weight: 700;
    line-height: 1em;
    text-transform: lowercase;
    margin-bottom: 15px;
    color: var(--esquadria-green);
    /* font-family: 'Neometric', sans-serif; */
}


#showcase .text h3{
    font-size: 2.5em;
    text-transform: uppercase;
    margin-bottom: 15px;
  
}

#showcase .text p{
    font-size: 1.1em;
    max-width: 70%;
    
}

#showcase .text .btn{
    margin-top: 25px;
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 10px 25px;
    border-radius: 25px;
    letter-spacing: 5px;
    transition: 0.3s;
}

#showcase .text .btn:hover{
    background: #fff;
    letter-spacing: 5px;
    color: var(--esquadria-green);
    border: 2px solid var(--esquadria-green);

    
}
 
.social{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.social ul li {
    list-style: none;
}
 
.social ul li .fab,
.social ul li .far{
    font-size: 25px;
    margin-right: 25px;
    color: #fff;
    transition: 0.3s;
    opacity: 0.7;
}

.social ul li .fab:hover,
.social ul li .far:hover{
    opacity:1;
}

.menu{
    position: absolute;
    top:0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 100px;
    transition: 1s;
}

.menu ul li{
    list-style: none;
    text-align: center;
    margin-bottom: 25px;
}

.menu ul li a{
    position: relative;
    color: #111;
    width: 150px;
    border:3px solid transparent;
    padding: 5px 10px;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.menu ul li a:hover{

    color:var(--esquadria-green);
    border:3px solid var(--esquadria-green);
}

.menu .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
 
 
/* ACTIVE CLASS */

#showcase .fa-times{
    display: none;
}

#showcase.active{
    right: 300px;
}

.fa-times.active{
display: block!important;
}

.fa.active{
    display: none;
}

.menu.active{
    right: 0;
}

    

/* MEDIA QUERIES */
@media only screen and (max-width:798px){

    #showcase .header{
        padding: 40px;
    }

    #showcase .text h2{
        font-size: 3em;
      
    }

    #showcase .text h3{
        font-size: 1.4em;
      
    }

    .text.active{
        margin-left: 0px;
       
    } 

    video{
        object-position:-80px -20%;
   
    }

    .menu ul li a{
        font-size: 1.2rem;

        
    }

}

@media only screen and (max-width:500px){

    #showcase .header .logo,
    .menu .logo{
    width: 100px;
}


    #showcase {
        padding: 10px 20px;
        text-align: center;
    }

    #showcase .text{
        margin-top: 25px;
    }

    #showcase .text h2{
        font-size: 3em;
        margin-bottom: 50px;
      
    }

    #showcase .text h3{
        font-size: 1.2em;
      
    }

    
    #showcase .text p{
     font-size: 1.1em;
     max-width: 100%;
     margin: 0;
   }

   .overlay{
    height: 100.1%;
}


    .social{
        left: 50%;
        bottom: 10%;
        margin-left: -55px;
        width: 140px;
        height: 100px;

   }

    .social ul li .fab,
    .social ul li .far{
    font-size: 20px;
}


    video{
    object-position:-250px -20%;

}

    #showcase.active{
    right: 100%;
}
    .fa-times.active{
    display: none!important;
    }

    .menu{
    width: 100%;
    text-align: center;
}

    .menu .fa-times-2{
    display: block;
    position: absolute;
    right: 35px;
    top:55px;
}

}

@media only screen and (max-width:350px){

    #showcase .header .logo,
    .menu .logo{
    width: 80px;
}



    #showcase .text h2{
    font-size: 2em;
 }

    #showcase .text h3{
    font-size: 1em;
    margin-bottom: 25px;
}

    #showcase .text p{
    font-size: 0.8em;
}

    #showcase .text{
    margin-top: 40px;
}

    .menu .logo{
    margin-top: 50px;

}

}

/* LANDSCAPE*/

/* iPhone X */

@media only screen and (max-width:813px) and (max-height:376px){

    #showcase .header .logo,
    .menu .logo{
    width: 90px;
}

    #showcase .text h2{
    font-size: 2.2em;
 }

    #showcase .text h3{
    font-size: 1.5em;
}

    #showcase .text p{
    font-size: 1em;
}


    #showcase .text{
    margin-top: 25px;
}

    .menu .logo{
    
    margin-top: 50px;

}


}

/* iPhone 6/7/8 PLUS */

@media only screen and (max-width:736px) and (max-height:414px){

    #showcase .header .logo,
    .menu .logo{
    width: 90px;
    margin-left: 50px;
}

    #showcase .text h2{
    font-size: 2em;
 }

    #showcase .text h3{
    font-size: 1.2em;
}

    #showcase .text p{
    font-size: 1em;
}

    #showcase .text{
    margin-top: 50px;
}

    .menu .logo{
    
    margin-top: 40px;

}
video{
    object-position:-40px -20%;

}


}

/* iPhone 6/7/8*/

@media only screen and (max-width:668px) and (max-height:375px){

    #showcase .header .logo,
    .menu .logo{
    width: 90px;
}

    #showcase .text h2{
    font-size: 1.8em;
 }

    #showcase .text h3{
    font-size: 1.2em;
}

    #showcase .text p{
    font-size: 0.8em;
}

    #showcase .text{
    margin-top: 40px;
}

    .menu .logo{
    margin-top: 50px;

}
  }

  /* iPhone 5*/

@media only screen and (max-width:568px) and (max-height:320px){

    #showcase .header .logo,
    .menu .logo{
    width: 90px;
}

    #showcase .text h2{
    font-size: 1.7em;
 }

    #showcase .text h3{
    font-size: 1em;
}

    #showcase .text p{
    font-size: 0.7em;
}

    #showcase .text{
    margin-top: 15px;
}

    .menu .logo{
    
    margin-top: 20px;
}

    #showcase .text .btn{
    
    font-size: 0.8em;
}

    .menu ul li a{
    font-size: 1rem;
    
}

}






